.light{
  background-color: #ffffff;
  color: #000;
  min-height: 100vh;
}
.dark{
  background: #121212;
  color: #fff;
  min-height: 100hv;
}
.card{
  border:1px solid gray;
  padding: 10px;
  margin: 10px;
}